<div class="container" id="header" >
    <h1>ABOUT</h1>
   
    <div id="description">
      <h4>Introducing MediApp: </h4>
      
     
      <p>MediApp is a user-friendly doctor application that seamlessly connects patients
         with healthcare providers. With convenient appointment scheduling, reliable 
         information, and personalized features, MediApp streamlines the healthcare 
         experience, empowering individuals to take control of their health and access 
         quality medical care.</p>
      <p>At MediApp, we are committed to ensuring that healthcare is accessible to all, irrespective
          of geographical constraints or busy schedules. Our innovative doctor application eliminates
           barriers by providing a flexible and convenient platform to connect with healthcare professionals. 
           Say goodbye to the limitations of traditional healthcare settings and welcome the freedom to seek
            medical advice at your own convenience, anytime and anywhere.</p>
    </div>
    </div>
    
   


        
      
  
  
   

