<app-navbar></app-navbar>
<section class="homepage" id="home">
    <div class="content">
      <div class="text">
        <h1>MediApp</h1>
        <p>"Transforming the Way You Access Medical Expertise"</p>
         
      </div>
      <!-- <a href="#services">Our Services</a> -->
    </div>
  </section>

  <section class="services" id="services">
    <h2>Our Services</h2>
    <p>Discover our range of doctor appointment and application services.</p>
    <ul class="cards">
      <li class="card">
        <img src="../../assets/img/appoint.jpg" alt="img">
        <h3>Online Appointment Scheduling</h3>
        <p> Allowing patients to book appointments with doctors conveniently through an online platform.</p>
      </li>
      <li class="card">
        <img src="../../assets/img/notification.jpg" alt="img">
        <!-- <h3>Health Reminders and Notifications</h3>
        <p>Sending reminders and notifications to patients for upcoming appointments or medication schedules to promote proactive healthcare management.</p> -->
        <h3>Find Doctors Based on Medical Specialties</h3>
        <p>Enables patients to  manage their healthcare by  locating and selecting doctors who specialize in their specific medical needs.</p>
      </li>
      <li class="card">
        <img src="../../assets/img/rating.jpg" alt="img">
        <h3>Feedback and Ratings</h3>
        <p>Offering patients the opportunity to provide feedback and ratings on their healthcare experience, ensuring transparency and accountability.</p>
      </li>
      
    </ul>
  </section>

  
  

  <!-- <section class="contact" id="contact">
    <h2>Contact Us</h2>
    <p>Reach out to us for any inquiries or feedback.</p>
    <div class="row">
      <div class="col information">
        <div class="contact-details">
          <p><i class="fas fa-map-marker-alt"></i> 123 Medical Plaza, Cityville, CA 98765</p>
          <p><i class="fas fa-envelope"></i> For support and inquiries: info@doctorappointmentapp.com</p>
          <p><i class="fas fa-phone"></i> Phone: (123) 456-7890</p>
          <p><i class="fas fa-clock"></i> Monday - Friday: 9:00 AM - 6:00 PM</p>
          <p><i class="fas fa-clock"></i> Saturday: 10:00 AM - 4:00 PM</p>
          <p><i class="fas fa-clock"></i> Sunday: Closed</p>
          <p><i class="fas fa-globe"></i> Website: www.doctorappointmentapp.com</p>
        </div>          
      </div>
      <div class="col form">
        <form>
          <input type="text" placeholder="Name*" required>
          <input type="email" placeholder="Email*" required>
          <textarea placeholder="Message*" required></textarea>
          <button id="submit" type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </section> -->

  
